<%= render 'layouts/backofficeBar'%>

<div class="folder">
  <div class="col p-0">
  <h3>Editar Refeicão</h3>
  <div  align="center">
  <div class="linhaback m-0"  style="width: 100%;"></div>
</div>
  <%= render 'form', meal: @meal %>

</div>
