<%= image_tag("backoffice.jpg", :alt => "backoffice", :class => "imagem") %>
<%= render 'layouts/backofficeBar'%>

<div class="folder">
  <div class="col">

  <h3 class="padleft">Editar Refeicão</h3>
  <div  align="center">
  <div class="linhaback"></div>
</div>
  </div>
  <%= render 'form', meal: @meal %>
</div>
