// Place all the styles related to the backoffice_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// BACKOFFICE INDEX 
.table-box {
    padding: 30px 80px;
    min-height: 40vh;
}

.table-box td {
    border-top: 0 !important;
    border-bottom-width: 1px;
    font-size: 14px;
    color:#7c7c7c; 
}

.table-box th {
    border: 0 !important;
    font-size: 14px;
    color: #4b4b4b;
}

.admin-box {
    padding: 3px;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: #28a745;
}

.link-editar {
    text-decoration: none;
    font-size: 14px;
    color: #FDDF4C;
}

.link-editar:hover {
    text-decoration: none;
    font-size: 14px;
    color: #FDDF4C;
}

.link-excluir {
    text-decoration: none;
    font-size: 14px;
    color: #E82431;
}

.link-excluir:hover {
    text-decoration: none;
    font-size: 14px;
    color: #E82431;
}

// BACKOFFICE EDIT

.edit-box {
    min-height: 40vh;
    padding: 30px 80px; 
}

.edit-title {
    font-size: 22px;
    color: #4b4b4b;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d8d4;
}

.select-edit {
    height: 35px;
    width: 550px;
    font-size: 14px;
    border: 1px solid #d3d8d4;
    color: #7a7a7a;
    border-radius: 3px;
    background-color: white !important;
}

.row-details {
    padding-top: 20px;
}

.edit-label {
    color: #7a7a7a;
    font-size: 14px;
}

.button-edit{
    height: 35px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    border: 1px solid #129e32;
    color: white;
    background-color: #28a745;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-edit-backoffice {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    height: 35px;
    width: 350px;
    font-size: 14px;
    border: 1px solid #868e96;
    color: white !important;
    background-color: #868e96;
    border-radius: 3px;   
}

.link-edit-backoffice:hover {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    height: 35px;
    width: 350px;
    font-size: 14px;
    border: 1px solid #868e96;
    color: white !important;
    background-color: #868e96;
    border-radius: 3px;   
}

.button-col {
    display: flex;
    flex-direction: row;
}