
.folder
{
  display: flex;
  flex-direction: row;
  height: 55vh;
  padding: 3%;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: white;
  position: relative;
  bottom: 0;
}
.btn
{
  color:white;
}
#price
{
  color: green;
  font-size: 1.8em;
}
#nome-meal
{
  font-size: 1.9em;
}
.text-muted span
{
  color: green;
}
.imagem
{
  width: 100%;
  height: 90vh;
  position: fixed;
  top: 0;
  z-index: -3;
  display: flex;
}
.pad4
{
  width: 50%;
  background-color: white;
}
.buttonMeals
{
  margin-left: 14%;
	padding :0.5%;
	border-radius: 5px;
	border:solid 1px #39cc6c;
	background-color: #39cc6c;
	width: 20%;
}
.buttonMeals:hover
{
  cursor: pointer;
  color:white;
}
#none
{
  text-decoration: none;
  height: 3%;
  margin: 2%;
}
#none:hover
{
  color: white;
}
btn
{
  color: black;
}
#back
{
  text-decoration: none;
  position: absolute;
  left: 40%;
  bottom: 3.7%;
  color: black;
}
#back:hover
{
  color: white;
}
#p
{
  margin-bottom: 3%;
}
.buttomPad
{
  width: 50%;
  background-color: white;
  margin-bottom: 2%;
  margin-left: 3%;
}
