// div maior com colunas de submits
.form-box {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7f7f7f;
    background-color: #fafafa;
    padding: 30px 80px;
}

//linhas com 2 caixinhas de submits
.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

//arrumando estetica da caixinha de submit
.submit {
    height: 35px;
    width: 550px;
    font-size: 14px;
    border: 1px solid #d3d8d4;
    color: #7f7f7f;
    border-radius: 3px;
}

// botao verde de atualizar
.buttonf {
  padding :1.6%;
	border-radius: 5px;
	border:solid 1px #39cc6c;
	background-color: #39cc6c;
	width: 100%;
}


// para as mensagens de alert
.alert {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
