
<div class="folder_fixed">
  <div class="col">
  <h3 class="padleft">Editar categoria de refeição</h3>
  <div  align="center">
  <div class="linhaback"></div>
</div>
<div class="pad9">
      <%= form_with model: @category do |form| %>
      <p>Nome</p>
      <div class="form-inline">
        <div class="form-group mb-2" style="width: 100%;">
          <%= form.text_field :name, autofocus: true, placeholder: "name",class: "form-control mr-4", style:"width: 47%;"%>
          <div class="form-control" style="width: 47.7%;"></div>
    </div>
    </div>
  </div>
      <% end %>
      <div class="pad9">
        <br>
        <div class="row">
          <div class="col" >
        <%= link_to "Atualizar categoria de refeição", categories_path ,class:"btn btn-success col-md-2  mr-3 p-2"%>
        <%= link_to "Voltar", categories_path,class:"btn btn-secondary px-5 py-2"%>
      </div>
    </div>
</div>
</div>
</div>
