<%= image_tag("backoffice.jpg", :alt => "backoffice", :class => "tamanho") %>
		<div class="titulo">

			<div><p class="backoff">Backoffice</p></div>
			<div><span id="decoracao">Gerencie pedidos,refeições e mais</span></div>
    </div>
    <div class="bar">
			<div class="nav">
				    <a class="buttont" id="opcao" href="#">Pedidos</span></a>
				    <a class="buttont" id="opcao" href="#">Usuários</a>
				    <a class="buttont" id="opcao" href="#">Refeições</a>
				    <a class="buttont" id="current" href="#">Categorias de Refeição</a>
				  </div>
			</div>
      <div class="perf" >

		<div class="centro" >
      <div class="pad3">
      <%= form_with model: @category do |form| %>
      <p>Edite a categoria</p>
      <%= form.text_field :name, autofocus: true, placeholder: "name",class: "holder" %>
    </div>
    <div class="pad">
      <%= button_to "Editar Categoria", categories_path ,class:"add"%>
    </div>
      <% end %>

    </div>
  </div>
