<div class="folder mb-5">
  <div class="col">

  <h3 class="padleft">Nova categoria de refeição</h3>
  <div  align="center">
  <div class="linhaback"></div>
</div>
      <div class="pad9">
        <%= form_with(model: @category, local: true) do |form| %>
        <p>nome</p>
        <%= form.text_field :name, placeholder: "nome",autofocus: true,class: "holder", required: true %>
      </div>
      <div class="pad9">
        <br>
        <div class="row">
          <div class="col" >
              <%= form.submit "criar categoria de refeição",class:"btn btn-success col-md-3  mr-3 p-2"%>
              <% end %>
              <%= link_to "voltar", categories_path,class:"btn btn-secondary px-5 py-2"%>
        </div>
      </div>
    </div>
      </div>
</div>
