<div class="bar">
  <div class="nav">
        <a class="buttont" id="opcao" href="#">Pedidos</span></a>
        <a class="buttont" id="opcao" href="#">Usuários</a>
        <a class="buttont" id="opcao" href="#">Refeições</a>
        <a class="buttont" id="current" href="#">Categorias de Refeição</a>
      </div>
  </div>
